@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Montserrat";

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0be9a2;
  background-color: #066648;
  --primary-color: #0be9a2;
  --dark-color: #066648;
}

html, body{
  overflow-x: hidden;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  display: flex;
}

a{
  color: var(--primary-color);
  font-weight: bold;
  transition: .5s;
}

a:hover{
  color: #138c66;
}